{% extends "encyclopedia/layout.html" %}

{% load static %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
  <h1>CREATE PAGE</h1>
  <form action="{% url 'create' %}" method="POST">{% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" placeholder="Your title here"><br>
    <textarea name="content" id="content" cols="10" rows="5" placeholder="Write your content in Markdown. (Please refer to 'markdownguide.org')"></textarea><br>
    <input type="submit" value="Submit">
  </form> 
{% endblock %}

{% block script %}
    <script src="{% static 'encyclopedia/myscripts.js' %}"></script>
{% endblock %}