{% extends "encyclopedia/layout.html" %}

{% load static %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
  <div id="details">
    {{ entry }}
  </div>
  <form action="{% url 'edit' %}" id="entryname" style="display: none;">
    <input type="text" name="entry" value={{ title }}>
  </form>  
  <button id="editbtn" type="submit" form="entryname">Edit Entry</button>
  <ul id="entryList" style="display: none;">
    {% for item in entries %}
      <li id="{{ item }}" class="entry"><a href="{% url 'entry' item %}">{{ item }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block script %}
    <script src="{% static 'encyclopedia/myscripts.js' %}"></script>
{% endblock %}