{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ message }}</h2>

    {% if request.user.is_authenticated %}
        <a href="{% url 'newListing' %}">Create your new listing</a>
        <hr>
    {% else %}
        <p>Please log in first to see active listings.</p>
    {% endif %}

    {% if request.user.is_authenticated %}
        <div>
            {% for listing in listings %}
                <h4>Title: {{ listing.name }}</h4>
                <p>Current Price: ${{ listing.price }}</p>
                <h5>Description{% if listing.category %} [Category -> {{ listing.category }}]{% endif %}:</h5>
                <p>{{ listing.description }}</p>
                {% if listing.image %}
                <img src="{{ listing.image.url }}" style="max-width: 75%; max-height: 400px" alt="">
                {% endif %}
                <p><em>{{ listing.created_at }}</em></p>
                <hr>
            {% empty %}
                <li>No listings to show</li>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}