{% extends "auctions/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}    
    <h2>Listing: {{ item.name }}
    {% if user.is_authenticated and item.lister.username != request.user.username and request.user.username in watching %}
        <form action="{% url 'listing' item.id%}" method="POST">
            {% csrf_token %}<button class="btn btn-dark btn-sm" name="watchbtn" type="submit" value="unwatch">Watchlist</button>
        </form>
    {% elif user.is_authenticated and item.lister.username != request.user.username %}
        <form action="{% url 'listing' item.id%}" method="POST">
            {% csrf_token %}
            <button class="btn btn-light btn-sm" name="watchbtn" type="submit" value="watch">Watchlist</button>
        </form>
    {% endif %}
    </h2>
    <div>
        {% if item.image %}
            <img src="{{ item.image.url }}" style="max-width: 75%; max-height: 400px" alt="">
        {% endif %}
        <p>{{ item.description }}</p>
        <h3>${{ item.price }}</h3>
            <p>{{ item.bidcount }} bid(s) so far. 
            {% if request.user.is_authenticated and item.lastbidding_by == request.user.username %}
            <span>Your bid is the current bid.</span></p>
            {% elif item.lastbidding_by and not item.is_closed %}
            <span>The current bid has been made by [ {{ item.lastbidding_by }} ].</span></p>
            {% elif  item.lastbidding_by and item.is_closed %}
            <span><strong>This listing has been closed.</strong></span></p>
            {% endif %}

        <!-- Show Bid box and button only when logged in & user is not lister & not closed -->
        {% if request.user.is_authenticated and item.lister.username != request.user.username and not item.is_closed %}
            <form action="{% url 'listing' item.id %}" method="POST">
                {% csrf_token %}
                <div>
                    <input type="text" name="bidbox" placeholder="Bid" required>
                </div>
                {% if message %}
                <br>
                <div class="card">
                    <div class="card-header">
                        {{ message }}
                    </div>
                </div>
                {% endif %}
                <br>
                <div>
                    <input class="btn btn-primary" type="submit" value="Place Bid"> 
                </div>
            </form>
        {% endif %}

        <!-- Show close button only when logged in & closed -->
        <!-- When user is winner-->
        {% if request.user.is_authenticated and item.is_closed and item.winner == request.user.username %}
            <button class="btn btn-lg btn-warning">Congratulation, {{ winner }}!!! You are the winner of this item.</button>
        <!-- When user is not winner-->
        {% elif request.user.is_authenticated and item.is_closed %}
            <button class="btn btn-lg btn-warning">{{ winner }} is the winner of this item.</button>
        {% endif %}

        <!-- Show close button only when logged in & not closed & user is lister -->
        {% if request.user.is_authenticated and not item.is_closed and item.lister.username == request.user.username %}
            <form action="{% url 'listing' item.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit" name="close" value="True">Close the Deal</button>
            </form>
        {% endif %}

        <br><br>

        <h4>Details</h4>
        <ul>
            {% if request.user.is_authenticated and item.lister.username == request.user.username %}
            <li>Listed by: You (<a href="{% url 'listingsByLister' item.lister.username %}">{{ item.lister.username }}</a>)</li>
            {% else %}
            <li>Listed by: <a href="{% url 'listingsByLister' item.lister.username %}">{{ item.lister.username }}</a></li>
            {% endif %}
            <li>Category: {% if item.category %} <span>{{ item.category }}</span> {% else %} No Category Listed {% endif %}</li>
        </ul>
        <hr>
        <form action="{% url 'listing' item.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary btn-block" type="submit">Submit the Comment</button>
        </form>
        <br>
        {% if comments %}
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td><span class="lead">{{ comment.content }}</span> <em>by {{ comment.commenter.username }}</em> <small class="text-muted">{{ comment.created_at }}</small></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <table class="table">
            <thead>
                <tr>
                <th scope="col">No Comments Yet...</th>
                </tr>
            </thead>
        </table>
        {% endif %}
    </div>
{% endblock %}