{% extends "auctions/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}

    <h2>Register</h2>

    <!-- form with django form & bootstrap -->
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        {% if message %}
            <div><strong>{{ message }}</strong></div><br>
        {% endif %}
         <button class="btn btn-primary btn-block" type="submit">Register</button>
    </form>

    <!-- form with django form & bootstrap, each line -->
    <!-- <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="col-6">{{ form.username|as_crispy_field }}</div>
        <div class="col-6">{{ form.email|as_crispy_field }}</div>
        <div class="col-6">{{ form.password|as_crispy_field }}</div>
        <div class="col-6">{{ form.confirmation|as_crispy_field }}</div>
        {% if message %}
            <div><strong>{{ message }}</strong></div><br>
        {% endif %}
         <button class="btn btn-primary" type="submit">Register</button>
    </form> -->

    <!-- form with bootstrap, but without django form -->
    <!-- <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>        
        {% if message %}
            <div><strong>{{ message }}</strong></div><br>
        {% endif %}
        <input class="btn btn-primary" type="submit" value="Register">
    </form> -->

    <br>Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}